{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
{% load breadcrumbstop %}
<br>
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs--item">
      <a href="" class="breadcrumbs--link">
        Home
      </a>
    </li>
    <li class="breadcrumbs--item">
      <a href="" class="breadcrumbs--link">
        {{post.category | breadcrumbs}}
      </a>
    </li>
    <li class="breadcrumbs--item ">
      <a href="" class="breadcrumbs--link breadcrumbs--link--active">
        {{post.title}}
      </a>
    </li>
  </ul>
    <div class="row">
        <div class="col-md-10 mb-4  mt-3 left  top">
          <div class="detail-box">
            <h1>{{ post.title }}</h1>
            <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
            <div class="post">
            <p class="card-text ">
            <img src="{{ post.display_image.url }}" alt="" style="width: 100%; height: 250px;" class="detail-img-box">
            <hr>
            {{ post.content | safe }}</p>
         
        </div>
         
        <div class="col-md-8  mb-4  mt-3 ">
          <div class="detail-box">
           
            <h2>{{ comments.count }} comments</h2>
    
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_on }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8 mb-4  mt-3 ">
          <div class="">
            {% if new_comment %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting moderation
            </div>
            {% else %}

            {% load crispy_forms_tags %}
            <h3>Leave a comment ASAP</h3>
            <form method="POST" style="margin-top: 1.3em;">
              
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
</div>
<div>
  {% for others in others %}
  {% endfor %}
</div>
{% endblock %}