{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<br>
<div class="container-fluid" style="width: auto">
    <img src="{% static 'images/head.png' %}" alt="" style="height: 150px; width: 100%;">
   </div>
<div class="latest">
  <div class="item"><a style="color: black;" href="{% url 'blog:home' %}"><strong>Transfer</strong></a></div>
  <div class="item"><a style="color: black;"  href="{% url 'blog:epl' %}"><strong>EPL</strong></div></a>
  <div class="item"><a style="color: black;" href="{% url 'blog:laliga' %}"><strong>Laliga</strong></a></div>
  <div class="item; current "><a style="color: greenyellow;" href="{% url 'blog:seriaA' %}"><strong>Seria A</strong></a></div>
  <div class="item"><a style="color: black;" href="{% url 'blog:bundesliga' %}"><strong>bundesliag</strong></a></div>
  <div class="item"><a style="color: black;" href="{% url 'blog:league1' %}"><strong>league1</strong></a></div>
  <div class="item"><a style="color: black;" href="#"><strong>Others</strong></a></div>
  </div>
<hr>
{% for epl in seriaA %}
<div class="col-lg-4"  style="padding-bottom: 15px;" >
  <img src="{{epl.display_image.url}}" alt=" display image" class="img-responsive" style="width: 100%; height: 200px;">
  <div class="post-box " style="padding-inline: 4px;">
    <h4><strong style="font-style: oblique; font-size: medium;">{{epl.title}}</strong></h4>
    <hr>
    <div class="container">
        <div class="box-row">
            <div style="flex: 3; font-size: x-small;"><i class="fas fa-clock">  {{epl.created_on}}| </i> </div>
            <div style="flex: 2; font-size: x-small;"><i class="fas fa-user-tie">{{epl.author}}</i> </div>
            <div style="flex: 1; font-size: x-small; padding-left: 10px;"><i class="fas fa-eye">{{epl.counts }}</i></div>
            <div style="flex: 1; font-size: x-small;"><i class="fas fa-comment" > 5 </i></div>
        </div>
        <a style="margin-left: 80%;" class="btn btn-dark" href = {% url 'blog:post_detail' epl.slug %}><strong> Read</strong></a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

